<h2>Admin Home</h2>
@{
    <p>
        <a asp-controller="Admin" asp-action="AllRole">
            Show all roles
        </a>
    </p>
    <p>
        <a asp-controller="Admin" asp-action="AddUser">
            Add a role
        </a>
    </p>
    <p>
        <a asp-controller="Admin" asp-action="AllUser">
            Assign user to a role
        </a>
    </p>
    <p>
        <a asp-controller="Admin" asp-action="AllLesson">
            Show all Lessons
        </a>
    </p>
    <p>
        <a asp-controller="Admin" asp-action="AddLesson">
            Add a lesson
        </a>
    </p>
}
