@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Concord Cougars Swim School</h1>
    <p class="display-4"><a asp-controller="Account" asp-action="Login">Login</a> to continue.</p>
    <p class="display-4">Or <a asp-controller="Account" asp-action="Register"> Register here</a></p>
</div>

