@model Concord_Cougars_Course_Project.ViewModels.SessionAddSessionViewModel
<form asp-controller="Session" asp-action="AddSession"
    method="post">
    <label asp-for="Session.SessionId"></label>
    <input asp-for="Session.SessionId" />
    <br />
    <label asp-for="Session.SessionCapacity"></label>
    <input asp-for="Session.SessionCapacity" />
    <br />
    <label asp-for="Coach.CoachName"></label>
    <select asp-for="Coach.CoachId"
        asp-asp-items="@Model.CoachList"></select>
    <br />
    <button type="submit">Add Session</button>
</form>
