@model IEnumerable <Concord_Cougars_Course_Project.Models.Session>
<h2>@Model.FirstOrDefault().Coach.CoachName</h2>
    @{
        if (Model.Count() < 1)
        {
            <p> You don't have a Session yet. <a asp-for="AddSession"> 
                    Add a Session</a></p>
        }
        else
        {
            <h3>All Sessions</h3>
            <table border="1">
                <tr>
                    <th>Session Id</th>
                    <th>Skill Level</th>
                    <th>Session Capacity</th>
                    
                </tr>
                @foreach (var session in Model)
                {
                    <tr>
                        <td>@session.SessionId</td>
                        <td>@session.SkillLevel</td>
                        <td>@session.SessionCapacity</td>
                    </tr>
                }
            </table>
        }
    }